@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@layer utilities {
  @variants responsive {
    .mt-screen {
      margin-top: 100vh !important;
    }
  }
}

.poppins-sans {
  font-family: "Poppins", sans-serif;
}

.someClass {
  font-family: serif;
}

.tailwind-class {
  @apply uppercase tracking-wide font-bold text-85 mr-1;
}

#someID {
  display: block;
  background: rgb(31, 31, 24);
  content: "";
  z-index: 1;
}

main {
  margin-top: 20px;
}

.will-change {
  will-change: transform;
}

main {
  margin-top: 20px;
}

$variablename: value;
